$blue-color: #556270;
$dark-blue-color: rgb(60, 60, 100);
$gray-color: #c0c0c0;
$off-white-color: #f8f9fa;
$red-color: #d9322e;
$white-color: #fff;

@mixin break-point($size) {
	@media only screen and (min-width: $size) {
		@content;
	}
}

* {
	box-sizing: border-box;
}

.container {
	position: relative;
	font-family: "Google Sans", Roboto, arial, sans-serif;
	margin: 0;

	/* ------------Navbar---------------*/
	.navbar {
		background-color: $white-color;
		height: auto;
		overflow: hidden;
		padding: 5px;
		position: relative;
		width: auto;

		@include break-point(768px) {
			padding: 15px;
		}

		@include break-point(1366px) {
			padding: 20px;
		}

		.nav-logo {
			display: inline;

			.nav-title {
				color: $blue-color;
				display: inline-block;
				font-size: 14px;
				font-weight: 600;
				float: left;
				left: 0;

				@include break-point(768px) {
					font-size: 25px;
					padding: 0 12px 0 15px;
				}

				@include break-point(1024px) {
					padding: 0 15px 0 30px;
				}

				@include break-point(1366px) {
					font-size: 28px;
					font-weight: 700;
					margin: 5px 10px 0 120px;
				}
			}
		}

		a {
			color: $blue-color;
			display: none;
			font-size: 10px;
			font-weight: 600;
			padding: 10px 10px 0;
			text-decoration: none;

			@include break-point(768px) {
				display: inline-block;
				font-size: 13px;
				padding: 7px;
			}

			@include break-point(1366px) {
				font-size: 15px;
				padding: 12px;
			}

			&:hover {
				color: $red-color;
			}
		}

		.active-home {
			color: $red-color;
		}

		a.button {
			background-color: $red-color;
			border: none;
			border-radius: 2.5px;
			color: $white-color;
			cursor: pointer;
			display: none;
			font-weight: 500;
			font-size: 10px;
			outline: none;
			position: absolute;

			@include break-point(768px) {
				display: inline-block;
				font-size: 13px;
				margin-left: 30px;
				padding: 8px;
			}

			@include break-point(1024px) {
				margin-left: 250px;
			}

			@include break-point(1366px) {
				font-size: 15px;
				margin-left: 220px;
				padding: 10px 30px;
			}
		}

		.menu-bar {
			display: inline-block;
			float: right;
			font-size: 10px;
			padding-top: 1px;

			@include break-point(768px) {
				display: none;
			}
		}
	}

	.navbar.responsive {
		position: relative;

		.menu-bar {
			margin: 5px 2px 0 0;
			position: absolute;
			right: 0;
			top: 0;
		}

		a {
			display: block;
			margin-top: 18px;
			text-align: center;
		}
	}

	/*-----slider-----*/
	.slideshow {
		margin-bottom: 0;
		max-width: 100%;
		position: relative;
		text-align: center;

		.slides {
			display: none;

			.fade {
				animation-name: fade;
				animation-duration: 1.5s;
				-webkit-animation-name: fade;
				-webkit-animation-duration: 1.5s;
			}

			@-webkit-keyframes fade {
				from {
					opacity: 0.4;
				}

				to {
					opacity: 1;
				}
			}

			@keyframes fade {
				from {
					opacity: 0.4;
				}

				to {
					opacity: 1;
				}
			}

			img {
				width: 100%;
			}

			.slider-wrap {
				bottom: 40%;
				color: $white-color;
				padding: 5px;
				position: absolute;

				@include break-point(768px) {
					padding: 30px;
				}

				@include break-point(1366px) {
					bottom: 29%;
					padding: 165px;
				}

				h1 {
					font-size: 22px;
					font-weight: 700;

					@include break-point(768px) {
						font-size: 35px;
					}

					@include break-point(1366px) {
						font-size: 46px;
					}
				}

				p {
					font-size: 10px;
					font-weight: 300;

					@include break-point(768px) {
						font-size: 13px;
					}

					@include break-point(1366px) {
						font-size: 17px;
					}
				}
			}

			.btn-red {
				-ms-transform: translate(-50%, -50%);
				background-color: $red-color;
				border: none;
				border-radius: 2.5px;
				color: $white-color;
				cursor: pointer;
				font-weight: 500;
				font-size: 10px;
				left: 48%;
				outline: none;
				position: absolute;
				padding: 8px;
				top: 62%;
				transform: translate(-50%, -50%);

				@include break-point(768px) {
					font-size: 14px;
					padding: 10px;
					top: 58%;
				}

				@include break-point(1366px) {
					font-size: 14px;
					top: 55%;
					left: 50%;
					padding: 10px 30px;
				}
			}
		}

		.prev {
			border-radius: 0 3px 3px 0;
			border-radius: 100%;
			background-color: rgba(128, 128, 128, 0.8);
			color: $white-color;
			cursor: pointer;
			height: auto;
			left: 5px;
			margin-top: -22px;
			position: absolute;
			padding: 1px;
			top: 45%;
			transition: 0.6s ease;
			user-select: none;
			width: auto;

			@include break-point(768px) {
				left: 10px;
				padding: 5px;
			}

			@include break-point(1366px) {
				left: 20px;
				padding: 10px;
			}

			&:hover {
				background-color: $red-color;
				color: $white-color;
			}
		}

		.next {
			border-radius: 0 3px 3px 0;
			border-radius: 100%;
			background-color: rgba(128, 128, 128, 0.8);
			color: $white-color;
			cursor: pointer;
			height: auto;
			margin-top: -22px;
			padding: 1px;
			position: absolute;
			right: 5px;
			transition: 0.6s ease;
			top: 45%;
			user-select: none;
			width: auto;

			@include break-point(768px) {
				padding: 5px;
				right: 10px;
			}

			@include break-point(1366px) {
				padding: 10px;
				right: 20px;
			}

			&:hover {
				background-color: $red-color;
				color: $white-color;
			}
		}

		.dot {
			border-radius: 100%;
			background-color: #b0b1b4;
			display: inline-block;
			height: 6px;
			left: -8px;
			margin: 0 2px;
			position: relative;
			top: -35px;
			width: 6px;

			@include break-point(768px) {
				height: 9px;
				left: -20px;
				margin: 0 4px;
				top: -40px;
				width: 9px;
			}

			@include break-point(1366px) {
				height: 12px;
				left: -12px;
				margin: 0 2px;
				width: 12px;
			}

			&:hover {
				background-color: $red-color;
			}
		}

		.active-dot {
			background-color: $red-color;
		}
	}

	/* -----text-area----- */
	.text-row {
		-ms-flex-wrap: wrap;
		display: -ms-flexbox;
		display: flex;
		flex-wrap: wrap;
		position: relative;
		text-align: left;

		@include break-point(1366px) {
			padding-left: 150px;
		}

		.text-column {
			-ms-flex: 100%;
			flex: 100%;
			max-width: 100%;
			margin-top: 0;
			padding: 0px 10px;
			position: relative;

			@include break-point(768px) {
				-ms-flex: 50%;
				flex: 50%;
				max-width: 50%;
			}

			@include break-point(1366px) {
				-ms-flex: 45%;
				flex: 45%;
				max-width: 45%;
				padding: 12px;
			}

			.text-content {
				height: auto;
				height: auto;
				width: 100%;

				.eum {
					color: $blue-color;
					font-size: 25px;
					font-weight: 700;
					margin-top: 10px;

					@include break-point(768px) {
						font-size: 30px;
					}

					@include break-point(1024px) {
						font-size: 43px;
					}
				}

				.voliptatem {
					color: $blue-color;
					font-size: 17px;
					font-weight: 500;

					@include break-point(768px) {
						font-size: 20px;
					}

					@include break-point(1366px) {
						font-size: 28px;
					}
				}

				.ullamco {
					color: $blue-color;
					font-size: 12px;
					font-weight: lighter;

					@include break-point(1366px) {
						font-size: 16px;
					}

					.text-list {
						padding: 2px 0;

						@include break-point(768px) {
							padding: 5px 0;
						}

						.material-icons.md-color {
							color: $red-color;
							font-size: 15px;
						}
					}
				}
			}
		}
	}

	/* -----Client-area----- */
	#client-area {
		background-color: $off-white-color;
		position: relative;

		@include break-point(768px) {
			padding: 0 10px;
		}

		@include break-point(1366px) {
			padding: 0 180px;
		}

		table {
			border-collapse: collapse;
			margin-top: 40px;
			table-layout: fixed;
			text-align: center;
			width: 100%;

			tr {
				background-color: $off-white-color;
				padding: 0.625em;

				td {
					height: 50px;

					@include break-point(768px) {
						height: 60px;
					}

					@include break-point(1366px) {
						height: 100px;
					}

					img {
						height: 30px;
						width: 40px;

						@include break-point(768px) {
							width: 80px;
						}
					}
				}
			}
		}
	}

	/* -----Service-area---------- */
	#service-area {
		position: relative;
		margin-top: 60px;

		.service-lable {
			text-align: left;

			span {
				color: #6b7682;
				font-size: 8px;
				font-weight: bolder;
				letter-spacing: 2px;
				margin-left: 12px;
				overflow: hidden;

				@include break-point(768px) {
					margin-left: 10px;
				}

				@include break-point(1366px) {
					font-size: 10px;
					margin-left: 150px;
				}

				&:after {
					border-top: 1px solid $red-color;
					content: "";
					display: inline-block;
					height: 0.5em;
					margin-left: 12px;
					vertical-align: bottom;
					width: 120px;
				}
			}

			.area-header {
				color: $dark-blue-color;
				font-size: 20px;
				font-weight: 800;
				margin: 0 0 30px 10px;

				@include break-point(768px) {
					font-size: 28px;
					margin-left: 10px;
				}

				@include break-point(1366px) {
					font-size: 35px;
					margin-left: 150px;
				}
			}
		}

		.service-row {
			display: -ms-flexbox;
			display: flex;
			flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			text-align: center;

			@include break-point(1366px) {
				padding-left: 150px;
			}

			.service-column {
				-ms-flex: 100%;
				border-left: 5px solid $white-color;
				flex: 100%;
				max-width: 100%;
				padding: 0 10px 0 5px;

				@include break-point(768px) {
					-ms-flex: 50%;
					flex: 50%;
					max-width: 50%;
					padding: 3px;
				}

				@include break-point(1366px) {
					-ms-flex: 435%;
					flex: 45%;
					max-width: 45%;
				}

				.service-content {
					background-color: $off-white-color;
					border-radius: 10px;
					height: auto;
					margin-bottom: 10px;
					padding: 10px 20px 20px;
					text-align: left;
					width: auto;

					@include break-point(1366px) {
						margin-bottom: 20px;
						padding: 15px 30px 40px;
					}

					.material-icons.service-icon {
						color: $red-color;
						float: left;
						font-size: 25px;
						margin-top: 12px;

						@include break-point(768px) {
							font-size: 30px;
						}

						@include break-point(1366px) {
							font-size: 40px;
						}
					}

					.service-info {
						padding-left: 40px;

						@include break-point(768px) {
							padding-left: 50px;
						}

						@include break-point(1366px) {
							margin-left: 30px;
						}

						.service-tag {
							color: #556270;
							font-weight: 700;
							font-size: 15px;

							@include break-point(1366px) {
								font-size: 18px;
							}
						}

						.service-txt {
							color: $blue-color;
							font-size: 10px;
							font-weight: lighter;

							@include break-point(1366px) {
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}

	/* -----Work-area----- */
	#work-area {
		background-color: $white-color;
		margin-top: 30px;
		position: relative;
		text-align: center;

		@include break-point(1366px) {
			margin-top: 120px;
		}

		.work-lable {
			text-align: left;

			span {
				color: #6b7682;
				font-size: 8px;
				font-weight: bolder;
				letter-spacing: 2px;
				margin-left: 12px;
				overflow: hidden;

				@include break-point(768px) {
					margin-left: 10px;
				}

				@include break-point(1366px) {
					margin-left: 150px;
				}

				&:after {
					border-top: 1px solid $red-color;
					content: "";
					display: inline-block;
					height: 0.5em;
					margin-left: 12px;
					vertical-align: bottom;
					width: 120px;
				}
			}

			.area-header {
				color: $dark-blue-color;
				font-size: 20px;
				font-weight: 800;
				margin: 0 0 30px 10px;

				@include break-point(768px) {
					font-size: 28px;
					margin-left: 10px;
				}

				@include break-point(1366px) {
					font-size: 35px;
					margin-left: 150px;
				}
			}
		}

		.work-navbar {
			background-color: $white-color;
			display: inline-block;
			height: auto;
			overflow: hidden;

			a {
				color: $dark-blue-color;
				display: block;
				font-size: 8px;
				float: left;
				font-weight: 600;
				padding: 10px;
				text-align: center;
				text-decoration: none;
				margin-left: 5px;

				@include break-point(768px) {
					font-size: 12px;
				}

				@include break-point(1366px) {
					padding: 10px 15px 10px 20px;
				}

				&:hover {
					background-color: $red-color;
					color: $white-color;
				}
			}

			a.active {
				background-color: $red-color;
				border-radius: 2px;
				color: $white-color;
			}
		}

		.work-row {
			-ms-flex-wrap: wrap;
			display: -ms-flexbox;
			display: flex;
			flex-wrap: wrap;

			@include break-point(1366px) {
				padding-left: 150px;
			}

			.work-column {
				-ms-flex: 100%;
				flex: 100%;
				max-width: 100%;
				padding: 0px 10px;

				@include break-point(768px) {
					-ms-flex: 33.3%;
					flex: 33.3%;
					max-width: 33.3%;
				}

				@include break-point(1366px) {
					-ms-flex: 30%;
					flex: 30%;
					max-width: 30%;
				}

				img {
					margin-top: 8px;
					width: auto;
					width: 100%;
				}
			}
		}
		.show {
			display: block;
		}
	}

	/* Footer */
	footer {
		background: #4a5562;

		.footer-area {
			background-color: #515d6a;
			color: #fff;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-top: 20px;
			margin-bottom: 0;
			padding: 10px 20px;
			text-transform: capitalize;
			width: auto;

			@include break-point(768px) {
				padding: 0 15px;
			}

			@include break-point(1366px) {
				margin-top: 80px;
				padding: 40px 50px;
			}

			p {
				color: #979ea6;
				font-size: 10px;
				font-weight: 18px;
				line-height: 180%;

				@include break-point(768px) {
					font-size: 12px;
				}

				@include break-point(1366px) {
					font-size: 14px;
				}
			}

			.template {
				text-align: left;
				width: 210px;

				@include break-point(1366px) {
					margin-left: 120px;
				}

				h5 {
					font-size: 20px;
					margin: 20px 0;

					@include break-point(1366px) {
						font-size: 28px;
					}
				}

				.address {
					color: $white-color;
					font-size: 10px;
					font-weight: lighter;
					margin: 0 120px 15px 0;
					text-transform: none;

					@include break-point(1366px) {
						font-size: 14px;
						margin-right: 80px;
					}
				}

				.contact-details {
					display: flex;
					flex-wrap: wrap;
					margin: 10px 0 8px;

					p {
						color: $white-color;
						font-size: 12px;
						font-weight: 700;
						padding-right: 50px;

						@include break-point(1366px) {
							font-size: 14px;
							padding-right: 20px;
						}
					}

					span {
						color: $white-color;
						font-size: 12px;
						font-weight: lighter;
						text-transform: lowercase;

						@include break-point(1366px) {
							font-size: 14px;
						}
					}
				}

				.media {
					background-color: #636e79;
					border-radius: 3px;
					float: left;
					height: 32px;
					margin-right: 10px;
					text-align: center;
					width: 32px;

					a {
						border-radius: 1% solid $white-color;
						color: $white-color;
						display: inline-block;
						line-height: 20px;
						margin-right: 5px;
						padding: 4px 3px 10px 6px;

						&:hover {
							color: rgba(240, 235, 235, 0.3);
						}
					}
				}
			}

			.usefullink {
				text-align: left;
				width: 500px;
				margin-right: 5px;

				@include break-point(768px) {
					width: 180px;
				}

				h4 {
					font-size: 15px;
					margin-top: 25px;

					@include break-point(1366px) {
						font-size: 18px;
					}
				}

				p {
					margin-bottom: 12px;
				}
			}

			.ourservices {
				text-align: left;
				width: 500px;

				@include break-point(768px) {
					width: 180px;
				}

				h4 {
					font-size: 15px;
					margin-top: 25px;

					@include break-point(1366px) {
						font-size: 18px;
					}
				}

				p {
					margin-bottom: 12px;
				}
			}

			.ournewsletter {
				text-align: left;
				margin-right: 10px;
				font-size: 14px;
				margin-top: 5px;
				width: 300px;

				@include break-point(1366px) {
					margin-right: 120px;
					width: 300px;
				}

				h4 {
					font-size: 15px;
					margin-top: 25px;

					@include break-point(1366px) {
						font-size: 18px;
					}
				}

				p {
					color: $white-color;
					font-weight: lighter;
					font-size: 10px;
					padding: 5px;

					@include break-point(1366px) {
						font-size: 14px;
						font-weight: lighter;
					}
				}

				.input-box {
					display: flex;

					input {
						border-style: none;
						border-top-left-radius: 3.5px;
						border-bottom-left-radius: 3.5px;
						background-color: $white-color;
						color: #a29e9e;
						height: 30px;
						margin-bottom: 30px;
						outline: none;
						width: 150px;

						@include break-point(768px) {
							height: 35px;
							width: 200px;
						}
					}

					button {
						background-color: $red-color;
						border-top-right-radius: 3.5px;
						border-bottom-right-radius: 3.5px;
						border-style: none;
						color: #fff;
						font-size: 14px;
						height: 30px;
						padding: 7px 10px;
						outline: none;

						@include break-point(768px) {
							height: 35px;
							padding: 7px 25px;
						}
					}
				}
			}
		}
	}

	/*-----footer-2-----*/
	.footer-2 {
		background-color: #4a5562;
		height: 85px;
		position: relative;
		text-align: center;
		width: 100%;

		.footer-text1 {
			color: $white-color;
			font-size: 12px;
			font-weight: lighter;
			margin-bottom: 0;

			@include break-point(1366px) {
				font-size: 14px;
			}
		}

		.footer-text {
			font-size: 10px;
			color: $gray-color;

			@include break-point(1366px) {
				font-size: 13px;
			}
		}

		.material-icons.icons {
			background-color: $red-color;
			border-radius: 3px;
			color: $white-color;
			font-size: 20px;
			float: right;
			height: 25px;
			margin-right: 10px;
			padding-bottom: 10px;
			position: absolute;
			right: 0;
			top: 35%;
			width: 25px;

			@include break-point(768px) {
				height: 30px;
				padding-top: 10px;
				width: 30px;
			}

			@include break-point(1366px) {
				height: 40px;
				margin-right: 20px;
				padding-top: 8px;
				top: 40%;
				width: 40px;
			}
		}
	}
}
