* {
  box-sizing: border-box; }

.container {
  position: relative;
  font-family: "Google Sans", Roboto, arial, sans-serif;
  margin: 0;
  /* ------------Navbar---------------*/
  /*-----slider-----*/
  /* -----text-area----- */
  /* -----Client-area----- */
  /* -----Service-area---------- */
  /* -----Work-area----- */
  /* Footer */
  /*-----footer-2-----*/ }
  .container .navbar {
    background-color: #fff;
    height: auto;
    overflow: hidden;
    padding: 5px;
    position: relative;
    width: auto; }
    @media only screen and (min-width: 768px) {
      .container .navbar {
        padding: 15px; } }
    @media only screen and (min-width: 1366px) {
      .container .navbar {
        padding: 20px; } }
    .container .navbar .nav-logo {
      display: inline; }
      .container .navbar .nav-logo .nav-title {
        color: #556270;
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        float: left;
        left: 0; }
        @media only screen and (min-width: 768px) {
          .container .navbar .nav-logo .nav-title {
            font-size: 25px;
            padding: 0 12px 0 15px; } }
        @media only screen and (min-width: 1024px) {
          .container .navbar .nav-logo .nav-title {
            padding: 0 15px 0 30px; } }
        @media only screen and (min-width: 1366px) {
          .container .navbar .nav-logo .nav-title {
            font-size: 28px;
            font-weight: 700;
            margin: 5px 10px 0 120px; } }
    .container .navbar a {
      color: #556270;
      display: none;
      font-size: 10px;
      font-weight: 600;
      padding: 10px 10px 0;
      text-decoration: none; }
      @media only screen and (min-width: 768px) {
        .container .navbar a {
          display: inline-block;
          font-size: 13px;
          padding: 7px; } }
      @media only screen and (min-width: 1366px) {
        .container .navbar a {
          font-size: 15px;
          padding: 12px; } }
      .container .navbar a:hover {
        color: #d9322e; }
    .container .navbar .active-home {
      color: #d9322e; }
    .container .navbar a.button {
      background-color: #d9322e;
      border: none;
      border-radius: 2.5px;
      color: #fff;
      cursor: pointer;
      display: none;
      font-weight: 500;
      font-size: 10px;
      outline: none;
      position: absolute; }
      @media only screen and (min-width: 768px) {
        .container .navbar a.button {
          display: inline-block;
          font-size: 13px;
          margin-left: 30px;
          padding: 8px; } }
      @media only screen and (min-width: 1024px) {
        .container .navbar a.button {
          margin-left: 250px; } }
      @media only screen and (min-width: 1366px) {
        .container .navbar a.button {
          font-size: 15px;
          margin-left: 220px;
          padding: 10px 30px; } }
    .container .navbar .menu-bar {
      display: inline-block;
      float: right;
      font-size: 10px;
      padding-top: 1px; }
      @media only screen and (min-width: 768px) {
        .container .navbar .menu-bar {
          display: none; } }
  .container .navbar.responsive {
    position: relative; }
    .container .navbar.responsive .menu-bar {
      margin: 5px 2px 0 0;
      position: absolute;
      right: 0;
      top: 0; }
    .container .navbar.responsive a {
      display: block;
      margin-top: 18px;
      text-align: center; }
  .container .slideshow {
    margin-bottom: 0;
    max-width: 100%;
    position: relative;
    text-align: center; }
    .container .slideshow .slides {
      display: none; }
      .container .slideshow .slides .fade {
        animation-name: fade;
        animation-duration: 1.5s;
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s; }
@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
      .container .slideshow .slides img {
        width: 100%; }
      .container .slideshow .slides .slider-wrap {
        bottom: 40%;
        color: #fff;
        padding: 5px;
        position: absolute; }
        @media only screen and (min-width: 768px) {
          .container .slideshow .slides .slider-wrap {
            padding: 30px; } }
        @media only screen and (min-width: 1366px) {
          .container .slideshow .slides .slider-wrap {
            bottom: 29%;
            padding: 165px; } }
        .container .slideshow .slides .slider-wrap h1 {
          font-size: 22px;
          font-weight: 700; }
          @media only screen and (min-width: 768px) {
            .container .slideshow .slides .slider-wrap h1 {
              font-size: 35px; } }
          @media only screen and (min-width: 1366px) {
            .container .slideshow .slides .slider-wrap h1 {
              font-size: 46px; } }
        .container .slideshow .slides .slider-wrap p {
          font-size: 10px;
          font-weight: 300; }
          @media only screen and (min-width: 768px) {
            .container .slideshow .slides .slider-wrap p {
              font-size: 13px; } }
          @media only screen and (min-width: 1366px) {
            .container .slideshow .slides .slider-wrap p {
              font-size: 17px; } }
      .container .slideshow .slides .btn-red {
        -ms-transform: translate(-50%, -50%);
        background-color: #d9322e;
        border: none;
        border-radius: 2.5px;
        color: #fff;
        cursor: pointer;
        font-weight: 500;
        font-size: 10px;
        left: 48%;
        outline: none;
        position: absolute;
        padding: 8px;
        top: 62%;
        transform: translate(-50%, -50%); }
        @media only screen and (min-width: 768px) {
          .container .slideshow .slides .btn-red {
            font-size: 14px;
            padding: 10px;
            top: 58%; } }
        @media only screen and (min-width: 1366px) {
          .container .slideshow .slides .btn-red {
            font-size: 14px;
            top: 55%;
            left: 50%;
            padding: 10px 30px; } }
    .container .slideshow .prev {
      border-radius: 0 3px 3px 0;
      border-radius: 100%;
      background-color: rgba(128, 128, 128, 0.8);
      color: #fff;
      cursor: pointer;
      height: auto;
      left: 5px;
      margin-top: -22px;
      position: absolute;
      padding: 1px;
      top: 45%;
      transition: 0.6s ease;
      user-select: none;
      width: auto; }
      @media only screen and (min-width: 768px) {
        .container .slideshow .prev {
          left: 10px;
          padding: 5px; } }
      @media only screen and (min-width: 1366px) {
        .container .slideshow .prev {
          left: 20px;
          padding: 10px; } }
      .container .slideshow .prev:hover {
        background-color: #d9322e;
        color: #fff; }
    .container .slideshow .next {
      border-radius: 0 3px 3px 0;
      border-radius: 100%;
      background-color: rgba(128, 128, 128, 0.8);
      color: #fff;
      cursor: pointer;
      height: auto;
      margin-top: -22px;
      padding: 1px;
      position: absolute;
      right: 5px;
      transition: 0.6s ease;
      top: 45%;
      user-select: none;
      width: auto; }
      @media only screen and (min-width: 768px) {
        .container .slideshow .next {
          padding: 5px;
          right: 10px; } }
      @media only screen and (min-width: 1366px) {
        .container .slideshow .next {
          padding: 10px;
          right: 20px; } }
      .container .slideshow .next:hover {
        background-color: #d9322e;
        color: #fff; }
    .container .slideshow .dot {
      border-radius: 100%;
      background-color: #b0b1b4;
      display: inline-block;
      height: 6px;
      left: -8px;
      margin: 0 2px;
      position: relative;
      top: -35px;
      width: 6px; }
      @media only screen and (min-width: 768px) {
        .container .slideshow .dot {
          height: 9px;
          left: -20px;
          margin: 0 4px;
          top: -40px;
          width: 9px; } }
      @media only screen and (min-width: 1366px) {
        .container .slideshow .dot {
          height: 12px;
          left: -12px;
          margin: 0 2px;
          width: 12px; } }
      .container .slideshow .dot:hover {
        background-color: #d9322e; }
    .container .slideshow .active-dot {
      background-color: #d9322e; }
  .container .text-row {
    -ms-flex-wrap: wrap;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    text-align: left; }
    @media only screen and (min-width: 1366px) {
      .container .text-row {
        padding-left: 150px; } }
    .container .text-row .text-column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
      margin-top: 0;
      padding: 0px 10px;
      position: relative; }
      @media only screen and (min-width: 768px) {
        .container .text-row .text-column {
          -ms-flex: 50%;
          flex: 50%;
          max-width: 50%; } }
      @media only screen and (min-width: 1366px) {
        .container .text-row .text-column {
          -ms-flex: 45%;
          flex: 45%;
          max-width: 45%;
          padding: 12px; } }
      .container .text-row .text-column .text-content {
        height: auto;
        height: auto;
        width: 100%; }
        .container .text-row .text-column .text-content .eum {
          color: #556270;
          font-size: 25px;
          font-weight: 700;
          margin-top: 10px; }
          @media only screen and (min-width: 768px) {
            .container .text-row .text-column .text-content .eum {
              font-size: 30px; } }
          @media only screen and (min-width: 1024px) {
            .container .text-row .text-column .text-content .eum {
              font-size: 43px; } }
        .container .text-row .text-column .text-content .voliptatem {
          color: #556270;
          font-size: 17px;
          font-weight: 500; }
          @media only screen and (min-width: 768px) {
            .container .text-row .text-column .text-content .voliptatem {
              font-size: 20px; } }
          @media only screen and (min-width: 1366px) {
            .container .text-row .text-column .text-content .voliptatem {
              font-size: 28px; } }
        .container .text-row .text-column .text-content .ullamco {
          color: #556270;
          font-size: 12px;
          font-weight: lighter; }
          @media only screen and (min-width: 1366px) {
            .container .text-row .text-column .text-content .ullamco {
              font-size: 16px; } }
          .container .text-row .text-column .text-content .ullamco .text-list {
            padding: 2px 0; }
            @media only screen and (min-width: 768px) {
              .container .text-row .text-column .text-content .ullamco .text-list {
                padding: 5px 0; } }
            .container .text-row .text-column .text-content .ullamco .text-list .material-icons.md-color {
              color: #d9322e;
              font-size: 15px; }
  .container #client-area {
    background-color: #f8f9fa;
    position: relative; }
    @media only screen and (min-width: 768px) {
      .container #client-area {
        padding: 0 10px; } }
    @media only screen and (min-width: 1366px) {
      .container #client-area {
        padding: 0 180px; } }
    .container #client-area table {
      border-collapse: collapse;
      margin-top: 40px;
      table-layout: fixed;
      text-align: center;
      width: 100%; }
      .container #client-area table tr {
        background-color: #f8f9fa;
        padding: 0.625em; }
        .container #client-area table tr td {
          height: 50px; }
          @media only screen and (min-width: 768px) {
            .container #client-area table tr td {
              height: 60px; } }
          @media only screen and (min-width: 1366px) {
            .container #client-area table tr td {
              height: 100px; } }
          .container #client-area table tr td img {
            height: 30px;
            width: 40px; }
            @media only screen and (min-width: 768px) {
              .container #client-area table tr td img {
                width: 80px; } }
  .container #service-area {
    position: relative;
    margin-top: 60px; }
    .container #service-area .service-lable {
      text-align: left; }
      .container #service-area .service-lable span {
        color: #6b7682;
        font-size: 8px;
        font-weight: bolder;
        letter-spacing: 2px;
        margin-left: 12px;
        overflow: hidden; }
        @media only screen and (min-width: 768px) {
          .container #service-area .service-lable span {
            margin-left: 10px; } }
        @media only screen and (min-width: 1366px) {
          .container #service-area .service-lable span {
            font-size: 10px;
            margin-left: 150px; } }
        .container #service-area .service-lable span:after {
          border-top: 1px solid #d9322e;
          content: "";
          display: inline-block;
          height: 0.5em;
          margin-left: 12px;
          vertical-align: bottom;
          width: 120px; }
      .container #service-area .service-lable .area-header {
        color: #3c3c64;
        font-size: 20px;
        font-weight: 800;
        margin: 0 0 30px 10px; }
        @media only screen and (min-width: 768px) {
          .container #service-area .service-lable .area-header {
            font-size: 28px;
            margin-left: 10px; } }
        @media only screen and (min-width: 1366px) {
          .container #service-area .service-lable .area-header {
            font-size: 35px;
            margin-left: 150px; } }
    .container #service-area .service-row {
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      text-align: center; }
      @media only screen and (min-width: 1366px) {
        .container #service-area .service-row {
          padding-left: 150px; } }
      .container #service-area .service-row .service-column {
        -ms-flex: 100%;
        border-left: 5px solid #fff;
        flex: 100%;
        max-width: 100%;
        padding: 0 10px 0 5px; }
        @media only screen and (min-width: 768px) {
          .container #service-area .service-row .service-column {
            -ms-flex: 50%;
            flex: 50%;
            max-width: 50%;
            padding: 3px; } }
        @media only screen and (min-width: 1366px) {
          .container #service-area .service-row .service-column {
            -ms-flex: 435%;
            flex: 45%;
            max-width: 45%; } }
        .container #service-area .service-row .service-column .service-content {
          background-color: #f8f9fa;
          border-radius: 10px;
          height: auto;
          margin-bottom: 10px;
          padding: 10px 20px 20px;
          text-align: left;
          width: auto; }
          @media only screen and (min-width: 1366px) {
            .container #service-area .service-row .service-column .service-content {
              margin-bottom: 20px;
              padding: 15px 30px 40px; } }
          .container #service-area .service-row .service-column .service-content .material-icons.service-icon {
            color: #d9322e;
            float: left;
            font-size: 25px;
            margin-top: 12px; }
            @media only screen and (min-width: 768px) {
              .container #service-area .service-row .service-column .service-content .material-icons.service-icon {
                font-size: 30px; } }
            @media only screen and (min-width: 1366px) {
              .container #service-area .service-row .service-column .service-content .material-icons.service-icon {
                font-size: 40px; } }
          .container #service-area .service-row .service-column .service-content .service-info {
            padding-left: 40px; }
            @media only screen and (min-width: 768px) {
              .container #service-area .service-row .service-column .service-content .service-info {
                padding-left: 50px; } }
            @media only screen and (min-width: 1366px) {
              .container #service-area .service-row .service-column .service-content .service-info {
                margin-left: 30px; } }
            .container #service-area .service-row .service-column .service-content .service-info .service-tag {
              color: #556270;
              font-weight: 700;
              font-size: 15px; }
              @media only screen and (min-width: 1366px) {
                .container #service-area .service-row .service-column .service-content .service-info .service-tag {
                  font-size: 18px; } }
            .container #service-area .service-row .service-column .service-content .service-info .service-txt {
              color: #556270;
              font-size: 10px;
              font-weight: lighter; }
              @media only screen and (min-width: 1366px) {
                .container #service-area .service-row .service-column .service-content .service-info .service-txt {
                  font-size: 14px; } }
  .container #work-area {
    background-color: #fff;
    margin-top: 30px;
    position: relative;
    text-align: center; }
    @media only screen and (min-width: 1366px) {
      .container #work-area {
        margin-top: 120px; } }
    .container #work-area .work-lable {
      text-align: left; }
      .container #work-area .work-lable span {
        color: #6b7682;
        font-size: 8px;
        font-weight: bolder;
        letter-spacing: 2px;
        margin-left: 12px;
        overflow: hidden; }
        @media only screen and (min-width: 768px) {
          .container #work-area .work-lable span {
            margin-left: 10px; } }
        @media only screen and (min-width: 1366px) {
          .container #work-area .work-lable span {
            margin-left: 150px; } }
        .container #work-area .work-lable span:after {
          border-top: 1px solid #d9322e;
          content: "";
          display: inline-block;
          height: 0.5em;
          margin-left: 12px;
          vertical-align: bottom;
          width: 120px; }
      .container #work-area .work-lable .area-header {
        color: #3c3c64;
        font-size: 20px;
        font-weight: 800;
        margin: 0 0 30px 10px; }
        @media only screen and (min-width: 768px) {
          .container #work-area .work-lable .area-header {
            font-size: 28px;
            margin-left: 10px; } }
        @media only screen and (min-width: 1366px) {
          .container #work-area .work-lable .area-header {
            font-size: 35px;
            margin-left: 150px; } }
    .container #work-area .work-navbar {
      background-color: #fff;
      display: inline-block;
      height: auto;
      overflow: hidden; }
      .container #work-area .work-navbar a {
        color: #3c3c64;
        display: block;
        font-size: 8px;
        float: left;
        font-weight: 600;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        margin-left: 5px; }
        @media only screen and (min-width: 768px) {
          .container #work-area .work-navbar a {
            font-size: 12px; } }
        @media only screen and (min-width: 1366px) {
          .container #work-area .work-navbar a {
            padding: 10px 15px 10px 20px; } }
        .container #work-area .work-navbar a:hover {
          background-color: #d9322e;
          color: #fff; }
      .container #work-area .work-navbar a.active {
        background-color: #d9322e;
        border-radius: 2px;
        color: #fff; }
    .container #work-area .work-row {
      -ms-flex-wrap: wrap;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap; }
      @media only screen and (min-width: 1366px) {
        .container #work-area .work-row {
          padding-left: 150px; } }
      .container #work-area .work-row .work-column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        padding: 0px 10px; }
        @media only screen and (min-width: 768px) {
          .container #work-area .work-row .work-column {
            -ms-flex: 33.3%;
            flex: 33.3%;
            max-width: 33.3%; } }
        @media only screen and (min-width: 1366px) {
          .container #work-area .work-row .work-column {
            -ms-flex: 30%;
            flex: 30%;
            max-width: 30%; } }
        .container #work-area .work-row .work-column img {
          margin-top: 8px;
          width: auto;
          width: 100%; }
    .container #work-area .show {
      display: block; }
  .container footer {
    background: #4a5562; }
    .container footer .footer-area {
      background-color: #515d6a;
      color: #fff;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 20px;
      margin-bottom: 0;
      padding: 10px 20px;
      text-transform: capitalize;
      width: auto; }
      @media only screen and (min-width: 768px) {
        .container footer .footer-area {
          padding: 0 15px; } }
      @media only screen and (min-width: 1366px) {
        .container footer .footer-area {
          margin-top: 80px;
          padding: 40px 50px; } }
      .container footer .footer-area p {
        color: #979ea6;
        font-size: 10px;
        font-weight: 18px;
        line-height: 180%; }
        @media only screen and (min-width: 768px) {
          .container footer .footer-area p {
            font-size: 12px; } }
        @media only screen and (min-width: 1366px) {
          .container footer .footer-area p {
            font-size: 14px; } }
      .container footer .footer-area .template {
        text-align: left;
        width: 210px; }
        @media only screen and (min-width: 1366px) {
          .container footer .footer-area .template {
            margin-left: 120px; } }
        .container footer .footer-area .template h5 {
          font-size: 20px;
          margin: 20px 0; }
          @media only screen and (min-width: 1366px) {
            .container footer .footer-area .template h5 {
              font-size: 28px; } }
        .container footer .footer-area .template .address {
          color: #fff;
          font-size: 10px;
          font-weight: lighter;
          margin: 0 120px 15px 0;
          text-transform: none; }
          @media only screen and (min-width: 1366px) {
            .container footer .footer-area .template .address {
              font-size: 14px;
              margin-right: 80px; } }
        .container footer .footer-area .template .contact-details {
          display: flex;
          flex-wrap: wrap;
          margin: 10px 0 8px; }
          .container footer .footer-area .template .contact-details p {
            color: #fff;
            font-size: 12px;
            font-weight: 700;
            padding-right: 50px; }
            @media only screen and (min-width: 1366px) {
              .container footer .footer-area .template .contact-details p {
                font-size: 14px;
                padding-right: 20px; } }
          .container footer .footer-area .template .contact-details span {
            color: #fff;
            font-size: 12px;
            font-weight: lighter;
            text-transform: lowercase; }
            @media only screen and (min-width: 1366px) {
              .container footer .footer-area .template .contact-details span {
                font-size: 14px; } }
        .container footer .footer-area .template .media {
          background-color: #636e79;
          border-radius: 3px;
          float: left;
          height: 32px;
          margin-right: 10px;
          text-align: center;
          width: 32px; }
          .container footer .footer-area .template .media a {
            border-radius: 1% solid #fff;
            color: #fff;
            display: inline-block;
            line-height: 20px;
            margin-right: 5px;
            padding: 4px 3px 10px 6px; }
            .container footer .footer-area .template .media a:hover {
              color: rgba(240, 235, 235, 0.3); }
      .container footer .footer-area .usefullink {
        text-align: left;
        width: 500px;
        margin-right: 5px; }
        @media only screen and (min-width: 768px) {
          .container footer .footer-area .usefullink {
            width: 180px; } }
        .container footer .footer-area .usefullink h4 {
          font-size: 15px;
          margin-top: 25px; }
          @media only screen and (min-width: 1366px) {
            .container footer .footer-area .usefullink h4 {
              font-size: 18px; } }
        .container footer .footer-area .usefullink p {
          margin-bottom: 12px; }
      .container footer .footer-area .ourservices {
        text-align: left;
        width: 500px; }
        @media only screen and (min-width: 768px) {
          .container footer .footer-area .ourservices {
            width: 180px; } }
        .container footer .footer-area .ourservices h4 {
          font-size: 15px;
          margin-top: 25px; }
          @media only screen and (min-width: 1366px) {
            .container footer .footer-area .ourservices h4 {
              font-size: 18px; } }
        .container footer .footer-area .ourservices p {
          margin-bottom: 12px; }
      .container footer .footer-area .ournewsletter {
        text-align: left;
        margin-right: 10px;
        font-size: 14px;
        margin-top: 5px;
        width: 300px; }
        @media only screen and (min-width: 1366px) {
          .container footer .footer-area .ournewsletter {
            margin-right: 120px;
            width: 300px; } }
        .container footer .footer-area .ournewsletter h4 {
          font-size: 15px;
          margin-top: 25px; }
          @media only screen and (min-width: 1366px) {
            .container footer .footer-area .ournewsletter h4 {
              font-size: 18px; } }
        .container footer .footer-area .ournewsletter p {
          color: #fff;
          font-weight: lighter;
          font-size: 10px;
          padding: 5px; }
          @media only screen and (min-width: 1366px) {
            .container footer .footer-area .ournewsletter p {
              font-size: 14px;
              font-weight: lighter; } }
        .container footer .footer-area .ournewsletter .input-box {
          display: flex; }
          .container footer .footer-area .ournewsletter .input-box input {
            border-style: none;
            border-top-left-radius: 3.5px;
            border-bottom-left-radius: 3.5px;
            background-color: #fff;
            color: #a29e9e;
            height: 30px;
            margin-bottom: 30px;
            outline: none;
            width: 150px; }
            @media only screen and (min-width: 768px) {
              .container footer .footer-area .ournewsletter .input-box input {
                height: 35px;
                width: 200px; } }
          .container footer .footer-area .ournewsletter .input-box button {
            background-color: #d9322e;
            border-top-right-radius: 3.5px;
            border-bottom-right-radius: 3.5px;
            border-style: none;
            color: #fff;
            font-size: 14px;
            height: 30px;
            padding: 7px 10px;
            outline: none; }
            @media only screen and (min-width: 768px) {
              .container footer .footer-area .ournewsletter .input-box button {
                height: 35px;
                padding: 7px 25px; } }
  .container .footer-2 {
    background-color: #4a5562;
    height: 85px;
    position: relative;
    text-align: center;
    width: 100%; }
    .container .footer-2 .footer-text1 {
      color: #fff;
      font-size: 12px;
      font-weight: lighter;
      margin-bottom: 0; }
      @media only screen and (min-width: 1366px) {
        .container .footer-2 .footer-text1 {
          font-size: 14px; } }
    .container .footer-2 .footer-text {
      font-size: 10px;
      color: #c0c0c0; }
      @media only screen and (min-width: 1366px) {
        .container .footer-2 .footer-text {
          font-size: 13px; } }
    .container .footer-2 .material-icons.icons {
      background-color: #d9322e;
      border-radius: 3px;
      color: #fff;
      font-size: 20px;
      float: right;
      height: 25px;
      margin-right: 10px;
      padding-bottom: 10px;
      position: absolute;
      right: 0;
      top: 35%;
      width: 25px; }
      @media only screen and (min-width: 768px) {
        .container .footer-2 .material-icons.icons {
          height: 30px;
          padding-top: 10px;
          width: 30px; } }
      @media only screen and (min-width: 1366px) {
        .container .footer-2 .material-icons.icons {
          height: 40px;
          margin-right: 20px;
          padding-top: 8px;
          top: 40%;
          width: 40px; } }

/*# sourceMappingURL=assignment1.css.map */
